# Verification
```{toctree}
:maxdepth: 2
pySLAMMER compared to SLAMMER <demos/pySLAMMER_SLAMMER.ipynb>
pySLAMMER compared to a analytical solutions <demos/pySLAMMER_analytical.ipynb>
```